<%@ Master Language="C#" AutoEventWireup="true" CodeFile="AdminLTE.master.cs"
    MasterPageFile="~/MasterPages/Site.Master" Inherits="Integral.Web.PortalSite.MasterPages.AdminLTE" %>

<%@ Import Namespace="Integral.Web" %>

<%@ Register TagPrefix="ID" TagName="AdminLTEHeaderNav" Src="~/UserControls/AdminLTEHeaderNav.ascx" %>
<%@ Register TagPrefix="ID" TagName="AdminLTESidebarNav" Src="~/UserControls/AdminLTESidebarNav.ascx" %>

<asp:Content runat="server" ContentPlaceHolderID="HeadContentBeforeCustomScripts">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.8.2/tinymce.min.js" integrity="sha512-laacsEF5jvAJew9boBITeLkwD47dpMnERAtn4WCzWu/Pur9IkF0ZpVTcWRT/FUCaaf7ZwyzMY5c9vCcbAAuAbg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.8.2/jquery.tinymce.min.js" integrity="sha512-0+DXihLxnogmlHWg1hVntlqMiGthwA02YWrzGnOi+yNyoD3IA4yDBzxvm+EwTCZeUM4zNy3deF9CbQqQBQx2Yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/4.1.0/autoNumeric.min.js" integrity="sha512-U0/lvRgEOjWpS5e0JqXK6psnAToLecl7pR+c7EEnndsVkWq3qGdqIGQGN2qxSjrRnCyBJhoaktKXTVceVG2fTw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- FilePond https://github.com/pqina/jquery-filepond -->
  <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
  <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js"></script>
  <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.min.js"></script>
  <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />

  <asp:ContentPlaceHolder ID="HeadContentBeforeCustomScripts" runat="server" />

</asp:Content>

<asp:Content runat="server" ContentPlaceHolderID="HeadContent">

  <asp:ContentPlaceHolder ID="HeadContent" runat="server" />

</asp:Content>

<asp:Content runat="server" ContentPlaceHolderID="BodyContent">

  <div class="wrapper">

    <ID:AdminLTEHeaderNav runat="server" />

    <ID:AdminLTESidebarNav runat="server" />

    <div class="content-wrapper">
      <a name="tpl_body_top" id="tpl_body_top" tabindex="0"></a>
      <% if (MasterContentHeaderVisible) { %>
        <section class="content-header <%= NoMinHeaderHeight ? "no-min-height" : "" %>">
          <% if (!PageBreadcrumbHtml.IsNullOrEmpty() && CanViewBreadcrumb) { %>
            <div class="breadcrumbs"><%= PageBreadcrumbHtml %></div>
          <% } %>
          <% if (!PageTitle.IsNullOrEmpty()) { %>
            <h1 class="pageTitle"><span><span class="visible-xs"><%= PageTitle_Mobile.ValueIfNullOrEmpty(PageTitle).HTMLEncode() %></span><span class="hidden-xs"><%= PageTitle.HTMLEncode() %></span></span></h1>
          <% } %>
          <% if (!PageSubSubtitleHTML.IsNullOrEmpty()) { %>
            <h4 class="coacheesLink"><%= PageSubSubtitleHTML %></h4>
          <% } %>
        </section>
      <% } %>
      <section class="content">
        <asp:ContentPlaceHolder ID="BodyContent" runat="server" />
      </section>
    </div>

  </div><!-- ./wrapper -->

  <a id="table-rowlink-helper" href="#">&nbsp;</a>

  <div id="<%= WebHelper.ElementID.SlideoutBackdrop %>" class="slideout-backdrop"></div>
  <div id="<%= WebHelper.ElementID.SlideoutPanelHolder %>" class="slideout-holder">
    <div class="slideout-panel">
      <div id="<%= WebHelper.ElementID.SlideoutPanelHeader %>" class="slideout-header">
        <ion-icon name="arrow-forward-outline" class="slideout-closer"></ion-icon>
        <div id="<%= WebHelper.ElementID.SlideoutPanelTitle %>" class="slideout-title"></div>
      </div>
      <div id="<%= WebHelper.ElementID.SlideoutPanelBody %>" class="slideout-body"></div>
    </div>
  </div>

</asp:Content>

<asp:Content ContentPlaceHolderID="PostScriptContent" runat="server">

  <asp:ContentPlaceHolder ID="PostScriptContent" runat="server" />

</asp:Content>
