<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Public.master.cs"
    Inherits="Integral.Web.PortalSite.MasterPages.Public" MasterPageFile="~/MasterPages/Site.Master" %>

<%@ Import Namespace="Integral.Web" %>

<asp:Content runat="server" ContentPlaceHolderID="HeadContent">
  <link rel="Stylesheet" type="text/css" href="<%= PathHelper.UrlPath.CSS %>portal-public.css" />
  <asp:ContentPlaceHolder ID="HeadContent" runat="server" />
</asp:Content>

<asp:Content runat="server" ContentPlaceHolderID="BodyContent">

  <div class="wrapper layout-no-nav">
    <div class="content-wrapper">
      <section class="content">
        <asp:ContentPlaceHolder ID="BodyContent" runat="server" />
      </section>
    </div>
  </div>

</asp:Content>

<asp:Content ContentPlaceHolderID="PostScriptContent" runat="server">

  <script>
    $(document).ready(function() {
      var tz;
      try {
        tz = new Date().toString().replace(/.*\(([^\)]+)\).*/, "$1");
      } catch (e) {
        tz = 'GMT Standard Time';
      }
      $("#timezone-display").text(tz);
      $("#login_timezone").val(tz);
    });
  </script>

  <asp:ContentPlaceHolder ID="PostScriptContent" runat="server" />

</asp:Content>
