Your colleague, <b>[SelfFullName]</b>, has invited you to participate in a 360˚ feedback process.<br>
<br>
The purpose of 360˚ feedback is to help identify strengths and opportunities for improvement
that could inform the leadership development program [SelfFirstName] is participating in.
This program is part of [CompanyName's] commitment to supporting leaders to be the best they can be,
to positively impact our team, our business and our clients.<br>
<br>
Your responses are confidential and maintained securely by Integral. Your responses will be anonymous,
showing as an average rating on the report. To find out more about Integral's confidentiality,
read our <a href="https://www.helloable.co/privacy">Privacy Policy</a>.<br>
<br>
The survey should take you around 10 minutes to complete.
If you wish to participate, please submit your response before <b>[CloseDate]</b>.<br>
<br>
If you have any questions please contact me on my email below.<br>
<br>
[surveylink]<br>
