To tailor the Coaching Program to your specific needs we're running a 360 Feedback Process.
This involves gathering feedback from yourself as well as your peers, managers and direct-reports
on how you are going in your role. We call them "raters".<br/>
<br>
"Raters" might sound scary, but this is <b>not</b> a performance review.
It's a chance for you to identify key strengths and areas for development and,
with the support of your colleagues, enhance your skills as a leader.<br>
<br>
This survey should only take 15 minutes to complete.
Please complete this survey before <b>[CloseDate]</b> and invite your raters to complete.<br>
<br>
<p><b>Inviting Raters</b></p>
You will invite raters at the end of the survey. However, it's best to have a chat with your potential raters beforehand,
asking them if they could give youfeedback. If you prefer to, you can also email your potential raters using
<a href="http://learn.helloable.co/en/articles/2433037-email-template-for-360-feedback">this email template</a>.<br/>
<br/>
For accurate feedback, invite at least 8 raters including, peers, managers and direct-reports.<br/>
<br/>
[surveylink]<br>
<br>
<p><b>More on the 360 Feedback Process</b></p>
To get a good understanding of 360 Feedback Process, read the following:<br/>
<a href="http://learn.helloable.co/360-feedback-profile-and-process/about-the-360-feedback-process">About the 360˚ Feedback Process</a><br/>
<a href="http://learn.helloable.co/360-feedback-profile-and-process/360-feedback-faqs">Frequently Asked Questions.</a><br/>
<a href="http://learn.helloable.co/360-feedback-profile-and-process/integral-leadership-management-360-profile">About the Integral Leadership & Management Profile.</a><br/>
