Your colleague, <b>[SelfFullName]</b>, is currently a few months into the Able coaching program
and is interested to hear how they are doing. They would like you to fill out a short 3 question Pulse Survey.<br>
<br>
Your responses are confidential and anonymous.<br>
To find out more about Integral's confidentiality, read our <a href="https://www.helloable.co/privacy">Privacy Policy</a>.<br>
<br>
Please complete the survey before <b>[CloseDate]</b>.<br>
<br>
[surveylink]<br>
<br>
Thank you for supporting your colleague in their efforts to improve as a leader.<br>
