<div>
  <div class="container" cellspacing="0" cellpadding="0" border="0" height="60" width="100%">    
      <div class="row">
        <div class="col" valign="top" width="70"><img src="[imagespath]id-logo-2018.png" width="54" height="50"></div>
        <div class="col" valign="top">
          <div>Albert Coaching</div>
          <div class="container" cellspacing="0" cellpadding="0" border="0" height="28">            
            <div class="row">
                <div class="col" valign="bottom">
                  <div>360 Continuing Development Survey</div>
                </div>
              </div>
            </div>
        </div>
        <div class="col" align="right" valign="top"></div>
      </div>    
  </div>
  [EmailBody]
</div>
