Your colleague, [SelfFullName], has invited you to participate in a 360 degree survey 
as part of their professional development.  This requires you to answer a series of questions 
in which you express your opinion on various aspects of your colleague's skills and behaviours.<br>
<br>
Your participation is voluntary, and individual responses remain confidential 
(your colleague's feedback report will show an average of responses, not individual responses).<br>
<br>
You are invited to complete the questionnaire by the closing date of <b>[CloseDate]</b><br>
<br>
[surveylink]<br>
<br>
Please note that this is an automated email, so you do not need to reply unless you are experiencing problems.<br>
<br>
Thank you for your participation!<br>
<br>
<b>
  Carl-Johan Malmsten<br/>
  Coordinator, Digital Coaching<br>
  <a href="mailto:CJ@integral.org.au">CJ@integral.org.au</a><br>
  <a href="https://www.helloable.co/">www.helloable.co</a><br>
</b>
<br>
