<b>[ParticipantName]</b> has invited you to participate in the <b>[SurveyName]</b> survey. 
This is a series of questions in which you express your views as a valuable part of the 360 feedback process.<br/>
<br/>
Your participation is voluntary and confidential. 
Your responses will be anonymous, showing as an average rating 
after being added to the scores of other invited participants. 
The survey should take you around 15 - 20 minutes to complete.<br/>
<br/>
If you choose to participate, please submit your responses as soon as 
possible and before the closing date of <b>[CloseDate]</b>.
If you do not wish to participant, please click the decline link below, to let the participant know.<br/>
<br/>
<a href="[SurveyLink]"><b><u>Click here to begin the questionnaire</u></b></a>.<br/>
<br/>
