<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--
  Note that these transformations are only done when *publishing*,
  not running locally, so any transformations in here will not be
  applied during normal development work.

  The only transformations that may go in this file are ones needed
  specifically when publishing to test or staging environments.
  Local dev work won't be affected by these transformations.

  Currently no changes are needed for publishing to test/staging,
  so this config is intentionally empty at the moment.
  -->

</configuration>
