<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--
  Important Note:
  These transformations are only applied when *publishing* the site
  (for example when pushing to the CI/CD trigger branch for production).
  If you locally run a release build (i.e. without actually publishing)
  then these transformations are not applied.
  -->

  <appSettings>

    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="IsLive" value="true" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="IsStaging" value="false" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SiteDomain_Jarvis" value="https://jarvis.helloable.co" />

  </appSettings>

  <system.web>

    <compilation xdt:Transform="RemoveAttributes(debug)" />

  </system.web>

</configuration>
